<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Thank You</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="styling/thankyou.css">


	<script src="https://kit.fontawesome.com/b7d9f56fc5.js" crossorigin="anonymous"></script>
</head>

<body>

	<img alt="logo" class="top" src="img/blue.png">

	<div class="container">
		<img alt="logo" src="img/img02.png">
		<h2>Password Change Complete !</h2>
		<p>Your password has been reset completely. Thank you for staying with us.</p>
		<a href="">Go Back ?</a>
	</div>





</body>

</html>